.root {
    -fx-font-family: 'Perpetua';
    /*-fx-hgap: 05;*/
    /*-fx-vgap: 5;*/
    -fx-background-color: whitesmoke;
    -fx-font-size: 15px;
}

.title {
    -fx-font-size: 50px;
    -fx-fill: blue;
    -fx-alignment: center;
}

.label {
    -fx-padding: 10px;
}

.text-field {
    -fx-font-family: Helvetica;
}